{% extends "base.html" %}

{% block title %}500 Error{% endblock %}

{% block content %}
    <div class="clearfix">
    </div>

    <section id="oops" class="headline">
      <span class="error">500</span>
      <span class="message">Server Error</span>
    </section>
  
    <p class="oops_message">Uh oh! Looks like we dropped the ball on this one.</p>
    <p class="oops_message">Return to the <a href="/">courtside.me</a> or <a href="mailto:support@courtside.me">contact us</a>.</p>
{% endblock %}