{% load time_tags %}
{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Courtside.me{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "stylesheets/style.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/960_12_col.css" %}">
  {% block stylesheets %}{% endblock %}

  <!-- Google Analytics Code -->

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16383952-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  <!-- End Google Analytics Code -->

</head>

<body>

  <div id="wrapper">
    <div id="container" class="container_12">

    <header>
      <div id="logo" class="grid_5">
        <h1 class="ir">courtside.me</h1>
        <a href="/"><img src="{% static "images/logo.png" %}"></a>
        <p>beta</p>
      </div>

      <nav>
      	{% block nav %}
        <ul id="nav" class="grid_7">
          <li><a href="/about">About</a></li>
          <li id="login_button"><a href="/login">Login</a></li>
        </ul>
        {% endblock %}
      </nav>
    </header>

     {% block content %}{% endblock %}

    </div> <!--end #container-->
  </div> <!--end #wrapper-->

  <footer id="footer">
    <div id="footer_container" class="container_12">

      <section id="footer_nav" class="grid_3 prefix_3">
        <h4>Courtside</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Courtside</a></li>
          <li><a href="/search">Search for Games</a></li>
        </ul>
      </section>

      <section id="footer_contact" class="grid_3 prefix_1 suffix_2">
        <h4>Contact</h4>
        <ul>
          <li><a href="http://twitter.com/courtsideme">Follow us on Twitter</a></li>
          <li><a href="mailto:support@courtside.me">Email courtside.me</a></li>
        </ul>
      </section>

      <section id="footer_copyright" class="grid_12">
        &#169; 2011 Courtside | Designed by <a href="http://twitter.com/serenangai">Serena Ngai</a>
      </section>

    </div>
  </footer>

  <!-- JavaScript at the bottom for fast page loading -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='{% static "js/libs/jquery-1.5.1.min.js" %}'>\x3C/script>")</script>
  {% block scripts %}{% endblock %}

</body>
</html>
