{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="clearfix">
    </div>

    <section id="single_form_container" class="grid_12">
      <h2 id="login_heading">Create your Account</h2>
      
      <div id="login_methods" class="clearfix">
        <form id="single_form" action="/login/complete/" method="post" >
        	{% csrf_token %}
	        {{ form.as_p}}
          <input class="input_button" type="submit" value="Submit" />
        </form>

      </div>
    </section>
{% endblock %}