{% extends "base.html" %}
{% load comments %}

{% block title %}{{game.sport}} game at {{game.start_date_and_time}} {{game.address}}{% endblock %}

{% block nav %}
	{% if current_player %}
        <ul id="nav" class="grid_7">
          <li><a href="/">Profile</a></li>
          <li><a href="/search">Search for Games</a></li>
          <li><a href="/create">Create New Game</a></li>
          <li id="logout_button"><a href="/logout">Logout</a></li>
        </ul>
    {% else %}
        <ul id="nav" class="grid_7">
          <li><a href="/about">About</a></li>
          <li id="login_button"><a href="/login">Login</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="clearfix">
    </div>

    <section id="game_col_right" class="grid_5">
      <div id="game_map"></div>

      <div id="game_location" class="game_heading">
        <h4 class="info_label">Location</h4>
        <p>{{game.address}}</p>
      </div>
      <div id="game_date_time" class="game_heading">
        <h4 class="info_label">Date &amp; Time</h4>
        <p>{{game.start_date_and_time}}</p>
      </div>
      <div id="game_restriction" class="game_heading">
        <h4 class="info_label">Capacity &amp; Restrictions</h4>
        <ul>
          <li>Min # of players: {{ game.minimum_players}}</li>
          {% if game.restrictions != "" %}
            <li>{{ game.restrictions }}</li>
          {% endif %}
        </ul>
      </div>          
    </section>

    <section id="game_col_left" class="grid_6">
      <div id="game_info">
        <span class="game_type {{game.sport.name}}">{{game.sport}}</span>
        {% if owner == current_player %}
          <div id="leave_game"><a href="/delete/game/{{game.id}}/" onClick="(alert('You are deleting this game forever!")) >Delete this Game</a></div>
  	    {% else %}
          {% if joined %}
              <div id="leave_game"><a href="/leave/game/{{game.id}}/">Leave this Game</a></div>
          {% else %}
              <div id="join_game"><a href="/join/game/{{game.id}}/">Join this Game</a></div>
          {% endif%}
  	    {% endif%}  

        <div class="game_players game_heading clearfix">
          {% if number_of_players > 1 %}
            <h4 class="game_info_title">Players signed up ({{ number_of_players }} players)</h4>
          {% else %}
            <h4 class="game_info_title">Players signed up ({{ number_of_players }} player)</h4>
          {% endif%}
          
          <ul id="game_players_list">
            <li class="game_owner"><img src="{{owner.image_url}}"  title="{{owner.user.first_name}} {{owner.user.last_name}}"/></li>
            {% for p in players %}
              <li><img src="{{p.image_url}}" title="{{p.user.first_name}} {{p.user.last_name}}"/></li>
            {% endfor %}
          </ul>
        </div>
        <div id="game_comments" class="game_heading">
          <h4 class="info_label">Comments</h4>
      
        <!--  <p class="info">Coming Soon!</p> -->
        

<!--
             
    <table>
      <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
         {{form}}
        {{ form.comment }}
        {{ form.object_pk }}
        {{ form.content_type }}
        {{ form.content_object }}
        {{ form.security_hash }}
        {{ form.honeypot }}
        {{ form.timestamp }}
        <tr>
          <td colspan="2">
            <input type="submit" name="submit" value="Post">
            <input type="submit" name="preview" value="Preview">
          </td>
        </tr>
      </form>
    </table> 
{% render_comment_list for game %}
-->




        {% if  user.is_authenticated %}


         <ul id="game_comments_list">
            <li> 
            {% get_comment_form for game as form %}
              <form id="game_comment_form" action="{% comment_form_target %}" method="post">{% csrf_token %}
               <!--  <textarea id="game_comment" class="input_text" rows="2" maxlength="140" size="140"></textarea>   -->
                        {{ form.comment }}
        {{ form.object_pk }}
        {{ form.content_type }}
        {{ form.content_object }}
        {{ form.security_hash }}
        <input type="hidden" name="next" value="/game/{{game.id}}/"/>
        <!-- this is so the field gets hidden, I am sure serena come come up with something cleaner -->
        <div style="display:none;visibility:hidden;">
        {{ form.honeypot }}
        </div>
        {{ form.timestamp }}

            <!-- This needs to look better just did it so you can get the idea of what I mean-->
                <input class="input_button" type="submit" value="Add a Comment">
                </ul>
                      {% else %}
                      <ul id="game_comments_list">
                      <li>
                      <form method="link" action="/login/signup">
                                <input class="input_button" type="submit" value="Sign in to comment!" />
                      </form>
                      </li>
                      </ul>

  {% endif %}
                <ul id="game_comments_list">
              </form>
              {% get_comment_list for game as comment_list %}
              {% for comment in comment_list %}
            </li>
            <li>
              <p class="comment_content"> {{comment.comment }}</p>
              <p class="info">
                <span class="comment_author"> {{comment.user_name}} </span> 
                &#183; <span class="comment_date">{{comment.submit_date}}</span>
              </p>
            </li>
            {% endfor %}
          </ul> 
        </div>
      </div>
    </section>
{% endblock %}



{% block scripts %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&region=US"></script> 
    <script>
        var game_location = new google.maps.LatLng( {{game.latitude}}, {{game.longitude}});
        var map;

        $(document).ready(function(){
            var options = {
                center: game_location,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
            map = new google.maps.Map(document.getElementById("game_map"), options);

            var marker = new google.maps.Marker({
                    map: map,
                    position: game_location
                });
        });   
    </script>
{% endblock %}